{{#if reviews.length}}
<section>
    <h2>Your Reviews</h2>
    <ol class="post-list">
        {{#each reviews as |review|}}
        <li>
            {{> dashboard-post-info review}}
        </li>
        {{/each}}
    </ol>
</section>

{{else}}
<section>
    <h3>Your haven't reviewed any movies yet. Click below to post your first movie review!</h3>
</section>
{{/if}}

<button type="submit">
    <a href="/dashboard/new">Add New Review</a>
</button>