<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post}}
    </li>
    {{/each}}
</ol>

<div id="movie-template"> 
            {{movies}}
        </div>

<script src="/javascript/apiMovie.js"></script>