<section>
    <h2>Create New Review</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title:</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-text">Post Review</label>
            <textarea type="text" id="post-text" name="post-text"></textarea>
        </div>
        <button type="submit" class="btn">Create New Review</button>
    </form>
</section>

<script src="/javascript/addd-post.js"></script>