<section>
    <h2>Create New Review</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Movie Title:</label>
            <input type="text" id="post-title" name="post-title" placeholder="Home Alone"/>
        </div>
        <div>
            <label for="post-rating">Rating:</label>
            <input type="number" id="post-rating" name="post-rating" placeholder="0 - 100"/>
        </div>
        <div>
            <label for="post-review">Review:</label>
            <textarea type="text" id="post-review" name="post-review" placeholder="Terrible parents."></textarea>
        </div>
        <button type="submit" class="btn">Post Review</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>