<section>
    <h2>Create New Review</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Movie Title:</label>
            <input type="text" id="post-title" name="post-title" placeholder="Home Alone"/>
        </div>
        <div>
            <label for="score-rating">Rating:</label>
            <input type="text" id="score-rating" name="score-rating" placeholder="0-100"/>
        </div>
        <div>
            <label for="post-text">Review:</label>
            <textarea type="text" id="post-text" name="post-text" placeholder="Terrible parents."></textarea>
        </div>
        <button type="submit" class="btn">Post Review</button>
    </form>
</section>

<script src="../public/javascript/add-post.js"></script>